article {
  width: 700px;
  margin: 100px auto;
}
.icon {
  width: 24px;
  height: 24px;
  stroke: #1098ad;
}
.no,
.text {
  font-size: 24px;
  font-weight: 500;
  color: #1098ad;
}
.main p {
  line-height: 1.6;
  margin-bottom: 24px;
}
.main ul {
  color: #868e96;
}
.main li {
  margin-bottom: 12px;
}
.item {
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
  padding: 24px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
  align-items: center;
  margin-bottom: 30px;
  border-top: 4px solid #1098ad;
  background-color: rgba(198, 206, 207, 0.253);
}

.main {
  grid-column: 2;
}
h1 {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 40px;
  background-color: rgba(198, 206, 207, 0.253);
  color: #1098ad;
  padding: 15px;
  margin-left: 300px;
  margin-right: 300px;
  border-top: 7px solid #1098ad;
}
.opt {
  margin-left: 300px;
  display: flex;
  gap: 30px;
}
li {
  font-size: 19px;
}
.a {
  background-color: rgba(198, 206, 207, 0.253);
  text-decoration: underline#1098ad;
}
